<p>
	Personaggio di Star Wars:
	<input type="text" [(ngModel)]="currentCharacterId" (input)="onInput()">
	<button
(click)="onPiu()">+</button>
	<button
(click)="onMeno()">-</button>
</p>

<div class="mt-3" *ngIf="currentCharacter != null">
  Nome: <b>{{ currentCharacter.name }}</b> <br>
  Genere: {{ currentCharacter.gender }} <br>
  Anno nascita: {{ currentCharacter.birth_year }} <br>
  Colore occhi: {{ currentCharacter.eye_color }} <br>
  Altezza: {{ currentCharacter.height }} <br>

  Films:
  <ul>
    <!-- li *ngFor="let f of currentCharacterFilmList">Ep. {{f.episode_id}} - {{ f.title }}</li -->
    <li *ngFor="let f of currentCharacter.films">
        {{ f }}</li>
  </ul>

</div>

<hr>
TODO 2: aggiungere anche la stampa di altri attributi...

TODO 3: aggiungere anche la stampa dei film in cui appare il personaggio